body{
    font-family: 'Monda', sans-serif !important;
}

h1{
    border-bottom: #333 solid;
    padding-bottom: 20px;
    width: 65%;
}
h2 {
    font-size: 42px !important;
    border-bottom: #333 solid;
    padding-bottom: 20px;
    width: 65%;
}
/********************
PADDINGS
****++++++++++++++++*/
.pt-60{
    padding-top: 60px;
}

.pb-20{
    padding-bottom: 20px;
}

/********************
NAViGATION
****++++++++++++++++*/
.navbar-custom {
    background-color: #407AAD;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color: #fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #fff;
    background-color: #5FB4D0;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #5FB4D0;
}

.navbar-custom .navbar-brand {
    color:#FFFFFF;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeee;
}
.navbar-custom .icon-bar {
    background-color: #5FB4D0;
}

/********************

****++++++++++++++++*/
.container{

}


/********************
HERO
****++++++++++++++++*/
.jumbotron{
  background-color: #5FB4D0 !important;
  color: #333 !important;
}

.top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

.small{
    color: #333 !important;
}



.about {
  padding-top: 50px;
}

#about {
  padding-top: 10px;
}

.imgtag{
  padding-top: 30px;
}


/**********************
*PORTFOLIO
***********************/
.well {
  min-height: 321px !important;
  background-color: #FFF !important;
  margin-bottom: 50px !important;
  margin-top: 30px !important;
}

.img-responsive {
  margin: 0 auto;
  padding-bottom: 20px;
}


/**********************
*CONTACTBAR
***********************/
.contact {
  color: #333;
  background-color: #5FB4D0;
  padding-top: 20px;
}

.contact-info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 50px;
}

.sumup  {
  margin-top: 70px;
  margin-bottom: 70px;  
}


.fa {
  color: #000;
}

.btn {
  background-color: #407AAD;
  float: right;
  margin-bottom: 30px;
}

/*footer*/
footer {
  padding: 20px;
  background-color: #407AAD;
  color: #FFF;
}

/*imprint*/
#imprint {
    padding-top: 50px;
}

.imprint {
  color: #FFF;
  text-decoration: none;
}
